<h1>Welcome to Scholarly</h1>

<p>Submit and check the status of your submitted abstracts</p>

<h4>links</h4>
<%= link_to "Papers",papers_path %> |
<%= link_to "Conference Themes", conference_themes_path %> |
<%= link_to "Conference Subthemes",conference_subthemes_path %> |